/*
* @Author: zhengwei
* @Date:   2016-07-04 09:40:31
* @Last Modified by:   zhengwei
* @Last Modified time: 2016-07-07 14:59:57
*/

* {
    margin: 0;
    padding: 0;
    /* 让移动端的盒模型包含边框  为了防止有边框的容器撑大屏幕出现横向滚动条*/
    box-sizing: border-box;
    /* 去掉移动端点击的高亮颜色效果如果设置成透明就看不到了 */
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #333;
}

input {
    /* 清除默认的边线 */
    border: 0;
    /* 清除点击的时候的边线 */
    outline: 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix::before,
.clearfix::after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
/* 下面的菜单 */

#menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 28px;
    height: 44px;
    background-color: #fff;
}

#menu > ul > li {
    width: 25%;
    float: left;
    text-align: center;
}

#menu > ul > li > a {
    display: inline-block;
    width: 57px;
    height: 44px;
}

#menu > ul > li > a > img {
    width: 100%;
}